@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: "Ubuntu", sans-serif;
    }
    :root {
        --text : 000,000,000 ;
        --textWhite : 255,255,255 ;
        --bg: 255,165,0 ;
    }
    [data-theme="dark"]{
        --text : 255,255,255 ;
        --textWhite : 000,000,000 ;
    }
}